.App {
  text-align: center;
}


.column {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 40% 0 40%;
  /*align-items: center;*/
}

.column input {
  margin-bottom: 10px;
}

.button {
  color: #e6e6e6;
  background: #0a0a0a;
  border: none;
  font-size: 14px;
  /*border-radius: 3px;*/
  /*width: 200px;*/
  text-align: center;
  /*display: block;*/
  padding: 7px 0;
  /*margin: 10px auto;*/
}

.button:hover:enabled {
  background:
    linear-gradient(#1a1a1a,#0a0a0a);
    color: #fff;
    text-decoration: none;
}

.button:active {
  transform: translateY(1px);
}